<template>
  <div class="MenuItem">
    <span
      class="MenuItem_Label"
      v-on:click="clickMenuItem"
    >{{ label }}</span>
  </div>
</template>

<script>
export default {
  name: 'MenuItem',
  props: {
    label: String,
    name: String,
  },
  methods: {
    clickMenuItem() {
      this.$emit('clickMenuItem', { name: this.name })
    },
  },
}
</script>


<style lang="scss">
.MenuItem_label {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
</style>