<template>
  <div class="Hoge">
    <p>
      このサイトは{{ hoge }}です。
    </p>
    <router-link to="/">TOPへ</router-link>
  </div>
</template>

<script>
export default {
  name: 'Hoge',
  data() {
    return {
      hoge: 'Hoge Hige Hage',
    }
  },
}
</script>

<style lang="scss">
.Hoge {
  max-width: 540px;
  margin: 2em auto;
}
</style>