<template>
  <div class="Menu">
    <MenuItem
      class="Menu_Item"
      v-for="item in items"
      v-bind:key="item.label"
      v-bind="item"
      v-on:clickMenuItem="onClickMenuItem" />
  </div>
</template>

<script>
import MenuItem from './Menu/MenuItem.vue'

export default {
  name: 'Menu',
  components: {
    MenuItem,
  },
  props: {
    items: Array,
  },
  methods: {
    onClickMenuItem({ name }) {
      this.$emit('clickMenuItem', { name })
    },
  },
}
</script>

<style lang="scss">
.Menu {
  display: flex;
  align-items: center;
}
.Menu_Item + .Menu_Item {
  margin-left: 1em;
}
</style>