<template>
  <div class="Logo">
    <img
      class="Logo_Img"
      src="../assets/logo.png" alt="Vue logo">
  </div>
</template>

<script>
export default {
  name: 'Logo',
}
</script>

<style lang="scss">
.Logo {
  filter: brightness(1.2)
}
.Logo_Img {
  display: block;
  width: 100%;
  height: auto;
}
</style>